/* canvas {
  border: 5px solid #fff;
} */

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: bisque;
}

input {
  text-align: centers;
}

.menu {
  margin: 3rem;
  display: flex;
  gap: 3rem;
  align-items: center;
}

.btn {
  cursor: pointer;
  border: none;
  background-color: bisque;
}

.icon {
  font-size: 3rem;
}
.btn-show {
  margin-left: 3rem;
}

.icon-show {
  font-size: 3rem;
}
