* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

canvas {
  width: 100vw;
  height: 100vh;
}
html {
  background-color: bisque;
}

.menu {
  margin: 3rem;
  display: flex;
  gap: 3rem;
  align-items: center;
}

.btn {
  cursor: pointer;
  border: none;
  background-color: bisque;
}

.icon {
  font-size: 3rem;
}

.label-highscore {
  font-size: 2rem;
}
