/* 
  Colors: #0b7285
          #e9f6ff:
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0b7285;
  width: 100vw;
  height: 100vh;
}

.search-form {
  display: grid;
  grid-template-columns: 1fr 1fr 0.1fr 1fr;
  /* gap: 1.6rem; */
  margin: 3.2rem 0;
}

.weather-input {
  grid-column: 2/3;
}
.weather {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.2rem;
}

.card {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  color: #e9f6ff;
  padding: 1rem 2rem 2rem 2rem;
  border-radius: 30px;
  width: 100%;
  max-width: 420px;
  margin: 1em;
}

.city {
  align-self: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.temp {
  font-size: 1.8rem;
}

.weather-icon {
  align-self: center;
  border: 1px solid #e9f6ff;
  border-radius: 50%;
  /* background-color: #e9f6ff;
   */
  background-color: #0b7285;
  margin-bottom: 2rem;
}

.description,
.humidity,
.wind {
  font-size: 1.1rem;
}
input {
  background-color: #e9f6ff;
  font-size: 1.8rem;
  text-align: center;
  border: none;
  appearance: none;
  border-radius: 9px;
  padding: 12px;
}

button {
  border-radius: 50%;
  border: none;
  background-color: #0b7285;
}
.icon {
  font-size: 3rem;
  cursor: pointer;
  color: #e9f6ff;
}

.weather-card {
  margin-top: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.6rem;
}

.dropdown {
  grid-column: -1;
}
.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  margin-right: 4rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100%;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
